@import "tailwindcss";
@keyframes float1 {
  0% {
    transform: translate(0px, 0px);
  }
  50% {
    transform: translate(40px, -50px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}

@keyframes float2 {
  0% {
    transform: translate(0px, 0px);
  }
  50% {
    transform: translate(-50px, 40px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}

@keyframes float3 {
  0% {
    transform: translate(0px, 0px);
  }
  50% {
    transform: translate(30px, 30px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}

.animate-float-1 {
  animation: float1 18s ease-in-out infinite;
}

.animate-float-2 {
  animation: float2 22s ease-in-out infinite;
}

.animate-float-3 {
  animation: float3 26s ease-in-out infinite;
}
