@import "tailwindcss";
/* ===== BACKGROUND GRADIENT ANIMATION ===== */
@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animated-gradient {
  background-size: 200% 200%;
  animation: gradientMove 18s ease infinite;
}

/* ===== FLOATING BLOBS ===== */
@keyframes floatUp {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-30px);
  }
}

@keyframes floatDown {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(40px);
  }
}

.float-up {
  animation: floatUp 10s ease-in-out infinite;
}

.float-down {
  animation: floatDown 14s ease-in-out infinite;
}
